<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Property</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome, {{ current_user.username }}</h1>
        <nav>
            {% if current_user.user_type =='owner' %}
            <a href="{{ url_for('admin') }}">Properties List</a>
            {% else %}
            <a href="{{ url_for('user') }}">Properties List</a>
            {% endif %}
            <a href="{{ url_for('normalsearch') }}"> Search</a>
            <a href="{{ url_for('search') }}">Advanced Search</a>

            {% if current_user.user_type !='owner' %}
            <a href="{{ url_for('view_favorites') }}">Favorites</a>
            {% endif %}
            {% if current_user.user_type =='owner' %}
            <a href="{{ url_for('add_property') }}">Add Property</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    
    <main>
        <form action="{{ url_for('add_property') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Property Name :</label>
                <input type="text" id="title" name="title" placeholder="Enter property title" required>
            </div>

            <div class="form-group">
                <label for="price">Price (in $):</label>
                <input type="number" id="price" name="price" placeholder="Enter price" required>
            </div>

            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" placeholder="Enter location" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="5" placeholder="Describe the property" required></textarea>
            </div>

            <div class="form-group">
                <label for="image">Property Image:</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>

            <button type="submit" class="btn">Add Property</button>
        </form>
    </main>

</body>
</html>
