<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <header>
<nav>
   
        <a href="{{ request.referrer or url_for('dashboard') }}" class="btn">Back</a>
        <!-- <a href="{{ url_for('index') }}">Home</a> -->
        <!-- <a href="{{ url_for('dashboard') }}">Back to Dashboard</a> -->
    </nav>
    </header>
<main>
    <!-- Property Details Section -->
    <section class="property-details">
        <div class="property-details-image">
            <img src="{{ url_for('static', filename='images/' + property.images) }}" alt="{{ property.title }}" class="property-image">            <h3>{{ property.title }}</h3>
        </div>
        <div class="property-details-info">
            <h1>{{ property.title }}</h1>
            <p><strong>Location:</strong> {{ property.location }}</p>
            <p><strong>Price:</strong> ${{ property.price }}</p>
            <p><strong>Description:</strong></p>
            <p>{{ property.description }}</p>
            {% if current_user.user_type !='owner' %}
            <form action="{{ url_for('buy_property', property_id=property.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn danger">Buy Property</button>
            </form>
            {% endif %}
          
        </div>
    </section>
</main>
    <!-- Footer -->
    
</body>
</html>
